/**
	Variable: -name
*/
body {
    color: #ffffff !important
    background: #282b30 !important;
}
.s-comments-post-form
    .form-textarea
        width 100%
        color #9a9fa8
        background-color: #36393e
        border: none
        height 14px
        font-size 12px
        margin 0 -6px
        &.pre-fill
            height 14px !important
.s-enable-course-dashboard.theme-2016-layout #home-feed-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background: #2c2f33;
  padding: 10px;
}
.s-enable-course-dashboard.theme-2016-layout #main {
  background: #2c2f33 !important;
  box-shadow: none !important;
}
.s-home-course-dashboard #main-content-wrapper {
  background: #282b30;
  padding-left: 30px; /* Increase the left padding */
  border-left-color: #282b30; /* color-neutral-medium */
}
.feed-comments
    color: #ffffff !important;
    border-radius: 10px;
    margin-top 8px
    padding 2px 10px
    background #282b30
    width 85%
    p
        font-size 12px
    .comment-footer
        padding-left 42px

body tbody tr.odd.privatemsg-unread td,
body tbody tr.even.privatemsg-unread td {
    background-color: #282b30;
}
body #header {
    height: 61px;
    background: #7289da !important;
}
.Header-header-drop-menu-3SaYV{
        background-color: #2c2f33 !important
    }
.Header-header-drop-menu-item-3d3IZ{
    color:#7289da !important
    }
._1rsSg:active, ._2WKzc:hover:not(:active), ._3U8Br, ._21bOr:focus:not(:active){
    color: #7289da
    }
._2UdSL{
    border: none;
    }
    ._2UdSL:hover(:active){
            outline-color:  #7289da !important
        }
._1IGEH:focus:not(:active), ._1oxpz:hover:not(:active), ._1Z0RM, .Dkh_K:active{
    background-color: #2c2f33
    }
.sgy-card{
    background: #1e2124
    border: none;
    color: #ffffff;
    }
.sgy-card-context{
    color: #ffffff;
    }
.edge-sentence p {
    color: #ffffff !important
}
.theme-2016-layout #main, .theme-2016-layout #right-column-inner > div:not(:empty){
    background: #2c2f33;    
}

.s-edge-feed li{
    border none !important
}

.theme-2016 .date-header h4{
    border-color #7289da !important
}
.comment{
    border-color #7289da !important
    }
.theme-2016 #right-column a{
    color #7289da
    }
body .smart-box .filter-block li .smartbox-boxtab, body .smart-box .filter-block li .personal-blog a{
    color #7289da !important
}
#main-inner a {
     color #7289da !important
     background-color: inherit !important;

}
body .clickable, body .smart-box .filter-block li a, body #content-left-top .item-list li a, body .popups-tab, body .enrollment-filters span, body .grading-groups-list .grading-group, body #grading-group-create:hover{
     color #7289da !important

}
body .s-edge-feed .edge-footer .ajax-post-comment{
     color #7289da !important

}
