/**
	Variable: -name
*/
accent = #7289da;
#sidebar-left .active-trail a, #left-nav #menu-s-main .menu .menu a.active, #sidebar-left .menu .expanded.active-trail a.active, #sidebar-left #left-nav .menu .expanded.active-trail .active-trail-dist-1 a, #sidebar-left #left-nav .menu .expanded.active-trail .menu .active-trail-dist-2 a{
    background-color:	#36393e
    }
 .materials-filter-wrapper{
         background-color:	#36393e

     }   
.has-folder-player #center-top .content-top-upper, .has-materials-player #center-top .content-top-upper{
    background: none !important}
#course-profile-materials{
    background: none;
    }     
body ul.primary li.active a, body ul.primary li.active a:hover {
}

.course-grade-wrapper {
    background: accent !important;
}

.summary-course {
    background: accent !important;
}

#header header {
    background-color: accent !important;
}

.Header-header-button-1EE8Y {
    background-color: accent !important;
}

input[type='checkbox'] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #424549;
    height: 16px;
    width: 16px;
    border: 1px solid #424549;
}

input[type='checkbox']:checked {
    background: accent;
}

input[type='checkbox']:hover {
    filter: brightness(90%);
}

input[type='checkbox']:disabled {
    background: #424549;
    opacity: 0.6;
    pointer-events: none;
}

input[type='checkbox']:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #424549;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type='submit'] {
    background: accent;
}

textarea {
    background: #282b30;
}

fieldset {
    background-color: #282b30;
}

input[type='checkbox']:checked:after {
    display: block;
}

input[type='checkbox']:disabled:after {
    border-color: #424549;
}

body ul.primary li a, body ul.primary li a:hover, body ul.primary li a:visited {
    background: #282b30 !important;
}

body ul.primary li.active a, body ul.primary li.active a:hover {
    background-color: #282b30 !important;
}

.has-right-col .with-tabs #center-top, .with-tabs #center-top {
    background: none;
}

body ul.primary {
    background: none;
}

.with-tabs #center-top, .has-right-col .with-tabs #center-top {
    background: none;
}

#main-content-wrapper {
    background: #282b30;
}

.privatemsg-list td {
    background-color: #36393e !important;
}

.util-hover-background-color-cloud-grey-wHghL:hover {
    background-color: #424549 !important;
}

body {
    color: #ffffff !important;
    background: #282b30 !important;
}

#library-search-query {
    background-color: #424549;
}

#library-search-form-container div:before {
    background: none;
}

a.ui-selectmenu {
    background: none;
}

.inline-popup-wrapper {
    background: #424549;
}
#s-user-realm-profile-notification-setting-form label:hover{
    background: #424549;

    filter: brightness(1.2)
    }

.ui-selectmenu-menu {
    background: #424549;
}

#edge-filters-menu {
    background: #424549;
}

.Header-header-button-1EE8Y {
    color: #fff !important;
}

#library-search-form-container div {
    background-color: #424549;
}

a {
    color: accent !important;
}

#edge-filters-btn {
    background: #282b30 !important;
    opacity: 1 !important;
}

#center-top {
    background: #282b30 !important;
}

* {
    border-color: accent !important;
    color: #fff !important;
    font-family: Helvetica, sans-serif !important;
}

.sticky-header th {
    background: #424549;
    color: #fff;
}

.action-links {
    background: #424549;
    color: #fff;
}

body.library-view #library-wrapper {
    background: #36393e !important;
    border: none;
}

.library-collection a.active, .library-collection a.active:hover, #library-group-collections a.active, #library-group-collections a.active:hover, #wrapper .find-resources #library-left .active {
    background-color: accent;
}

.link-btn {
    background-color: #36393e;
    background: #36393e;
    border: none;
}

.action-links-unfold {
    background: #36393e;
    color: #fff !important;
}

.action-links-wrapper-expanded .action-links-unfold .action-links-unfold-text {
    color: #fff !important;
}

#collection-view-contents {
    border-color: accent;
}

#library-left td:hover, .library-collections a:hover, .library-collections a.active {
    background-color: #424549;
    border-radius: 10px;
    color: #fff !important;
}

#collection-toolbar {
    border-color: accent;
}

#collection-view-contents th {
    border-color: accent;
}

body.library-view #library-left {
    border-right: none !important;
}

#library-left .collections-list-wrapper {
    border-color: accent;
}

body.library-view #library-main {
    border-left: 1px solid #36393e;
}

.s-comments-post-form {
    .form-textarea {
        width: 100%;
        color: #9a9fa8;
        background-color: #36393e;
        border: none;
        height: 14px;
        font-size: 12px;
        margin: 0 -6px;

        &.pre-fill {
            height: 14px !important;
        }
    }
}

.s-enable-course-dashboard.theme-2016-layout #home-feed-container {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background: #2c2f33;
    padding: 10px;
}

.s-enable-course-dashboard.theme-2016-layout #main {
    background: #2c2f33 !important;
    box-shadow: none !important;
}

.s-home-course-dashboard #main-content-wrapper {
    background: #282b30;
    padding-left: 30px; /* Increase the left padding */
    border-left-color: #282b30; /* color-neutral-medium */
}

.feed-comments {
    color: #ffffff !important;
    border-radius: 10px;
    margin-top: 8px;
    padding: 2px 10px;
    background: #282b30;
    width: 85%;

    p {
        font-size: 12px;
    }

    .comment-footer {
        padding-left: 42px;
    }
}

body tbody tr.odd.privatemsg-unread td, body tbody tr.even.privatemsg-unread td {
    background-color: #282b30;
}

body #header {
    height: 61px;
    background: accent !important;
}

.Header-header-drop-menu-3SaYV {
    background-color: #2c2f33 !important;
}

.Header-header-drop-menu-item-3d3IZ {
    color: accent !important;
}

._1rsSg:active, ._2WKzc:hover:not(:active), ._3U8Br, ._21bOr:focus:not(:active) {
    color: accent;
}

._2UdSL {
    border: none;
}

._2UdSL:hover(:active) {
    outline-color: accent !important;
}

._1IGEH:focus:not(:active), ._1oxpz:hover:not(:active), ._1Z0RM, .Dkh_K:active {
    background-color: #2c2f33;
}

.sgy-card {
    background: #1e2124;
    border: none;
    color: #ffffff;
}

.sgy-card-context {
    color: #ffffff;
}

.edge-sentence p {
    color: #ffffff !important;
}

.theme-2016-layout #main, .theme-2016-layout #right-column-inner > div:not(:empty) {
    background: #2c2f33;
}

.s-edge-feed li {
    border: none !important;
}

.theme-2016 .date-header h4 {
    border-color: accent !important;
}

.comment {
    border-color: accent !important;
}

.theme-2016 #right-column a {
    color: accent;
}

body .smart-box .filter-block li .smartbox-boxtab, body .smart-box .filter-block li .personal-blog a {
    color: accent !important;
}

#main-inner a {
    color: accent !important;
    background-color: inherit !important;
}

body .clickable, body .smart-box .filter-block li a, body #content-left-top .item-list li a, body .popups-tab, body .enrollment-filters span, body .grading-groups-list .grading-group, body #grading-group-create:hover {
    color: accent !important;
}

body .s-edge-feed .edge-footer .ajax-post-comment {
    color: accent !important;
}
